<div class="container-fluid">
  {% assign certificates = data[1] | sort: 'date' | reverse %}
  {% for content in certificates %}
    {% if forloop.index0 % 2 == 0 %}
      <div class="row mb-3">
    {% endif %}
    <div class="col-md-6 mb-3">
      <div class="d-flex align-items-start">
        {% if content.icon %}
          <div class="me-2 mt-1">
            <i class="{{ content.icon }}"></i>
          </div>
        {% endif %}
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <a href="{{ content.url | default: '#' }}" class="fw-bold" style="color: #1ea7fd;">{{ content.name }}</a>
            </div>
            <div class="text-nowrap" style="color: #ccc; font-size: 0.95em;">
              {{ content.date }}
            </div>
          </div>
          <div style="font-size: 0.98em;">
            <b>{{ content.issuer }}</b>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.index0 % 2 == 1 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>